body {
    display: flex;
}

case {
    color: #999;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.75em;
    text-transform: capitalize;
    padding:2px;
    display: block;
    width: 4rem;
    height: 4rem;
    border: 2px solid #fff;
    background-color: rgba(204,204,204,.8);
}

case.obstacle {
    background : center / contain no-repeat url("../img/obstacle.png") rgba(204,204,204,1);
}


case.joueur0 {
    background : var(--joueur0Image);
}
case.joueur1 {
    background : var(--joueur1Image);
}
case.joueur2 {
    background : var(--joueur2Image);
}
case.joueur3 {
    background : var(--joueur3Image);
}
case.joueur4 {
    background : var(--joueur4Image);
}
case.joueur5 {
    background : var(--joueur5Image);
}

case.arme {
    background: center / contain no-repeat yellow;
}

case.casePossible {
    background-color: purple;
}

plateau {
    display: flex;
    width: calc(40rem + 80px);
    flex-wrap: wrap;
    margin: auto;
}


joueur {
    border: 1px solid cyan;
    margin: 10px;
    padding: 20px;
    font: 1em sans-serif;

}

ligne{
    display: block;
}